<div class="container-fluid">
  <div class="row">
    <p *ngIf="errorFlag" class="text-danger">Please Enter EmplyeeName and email and Employye Salary </p>
    <div class="help-block" *ngIf="emploeeregisterForm.get('email').errors && (emploeeregisterForm.get('email').touched || 
    emploeeregisterForm.get('email').dirty)">
      <div *ngIf="emploeeregisterForm.get('email').errors && (emploeeregisterForm.get('email').touched || 
    emploeeregisterForm.get('email').dirty)" class="text-danger">
        Please enter Valid Email ID

      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">

      <form [formGroup]="emploeeregisterForm">
        <div class="row">
          <div class="">
              <div class="form-inline col-lg-12">
                  <label>Employee ID</label><br>
                  <input type="text" id="employeeID" formControlName="employeeID" appNumberOnly>
                </div>
            <div class="form-inline col-lg-12">
              <label>Employee Name</label><br>
              <input type="text" id="employeeName" formControlName="employeeName">
            </div>
            <div class="form-group">
              <label>Email</label><br>
              <input type="text" id="email" formControlName="email">

            </div>
            <div class="form-group">
              <label>Employee Salary</label><br>
              <input type="text" id="emploeeSalary" formControlName="emploeeSalary" appNumberOnly>
            </div>
            <button type="submit" [disabled]="!emploeeregisterForm.valid " class="btn btn-primary"
              *ngIf="!editbuttonshow" (click)="employeeRegister(emploeeregisterForm.value)">Register</button>
            <button type="submit" class="btn btn-primary" *ngIf="editbuttonshow" [disabled]="!emploeeregisterForm.valid "
              (click)="doUpdate(emploeeregisterForm.value)">Update</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>